{% load static i18n wagtailcore_tags navigation_tags wagtailimages_tags %}


 <!-- featured slider
    ================================================== -->
    
    <section class="s-featured">
<!-- <h2 style="text-align:center; color:gray"> -->
<!--#{{page.title| safe}}-->
</h2>    
        <div class="row">
            <div class="col-full">

                <div class="featured-slider featured" data-aos="zoom-in">
                {% for related in shown_pages %}
                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background" style="background-image:url('media/{{related.shown_page.specific.image.file}}');"></div>
                            
                            <div class="entry__content">
                            {% with categories=related.shown_page.specific.categories.all %}
                                {% if categories %}
                                    {% for category in categories %}
                                        <span class="entry__category"><a href="{%slugurl 'app-index-page'%}?cat_id={{category.id}}"> {{ category.name }}</a></span>
                                    {% endfor %}   
                                {%endif%}    
                                <h1><a href="{{related.shown_page.url}}" title="">{{related.shown_page.title}}</a></h1>
                            {%endwith%}
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->
                {%endfor%}
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->
{% include "home/recent.html" %}