{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content%}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                {% image page.image max-2500x1000 as fimage %}
                    <img src="{{ fimage.url }}" alt="">
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{page.title}}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{page.date_published}}</li>
                    <li class="byline">
                        By
                        <a href="#0">Owner</a>
                    </li>
                </ul>
            </div>

            <div class="col-full entry__main">
                {{page.intro|richtext}}
                <p class="lead drop-cap">{{page.subtitle}}</p>
                
    
    {%for block in page.body%}
               {{block}}
    {%endfor%}
    
    
        <div>
            {% for img in page.gallery_images.all %}
                <div>
                {% image img.image fill-240x200%}<!--fill-240x200-->
                <p>{{img.caption}}</p>
                </div>                
            {%endfor%}
        </div>    

<!-- -->
                <div class="entry__taxonomies">
                    <div class="entry__cat">
                        <h5>Posted In: </h5>
                        {% with categories=page.categories.all%}
                            {%if categories%}
                            {%for category in categories%}
                            <span class="entry__tax-list">
                                <a href="{%slugurl 'app-index-page'%}?cat_id={{category.id}}">
                                <!--#{% image category.icon fill-50x50 class="image-category" %}-->
                                {{category.name}}
                                </a>                            
                            </span>
                            {%endfor%}
                            {%endif%}
                        {% endwith %}
                    </div> <!-- end entry__cat -->

                    <div class="entry__tags">
                        <h5>Tags: </h5>
                        <span class="entry__tax-list entry__tax-list--pill">
                        {% for tag in page.tags.all %}
                            <a href="{%slugurl 'app-index-page'%}?tag={{tag}}">{{tag}}</a>
                        {% endfor %}
                        </span>
                    </div> <!-- end entry__tags -->
                </div> <!-- end s-content__taxonomies -->

                <div class="entry__author">
                    <img src="images/avatars/user-03.jpg" alt="">

                    <div class="entry__author-about">
                        <h5 class="entry__author-name">
                            <span>Posted by</span>
                            <a href="#0">Jonathan Doe</a>
                        </h5>

                        <div class="entry__author-desc">
                            <p>
                            Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat 
                            impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas 
                            voluptatum. Lorem ipsum dolor sit.
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->


        <div class="s-content__entry-nav">
            <div class="row s-content__nav">
                <div class="col-six s-content__prev">
                {%with prev_page=page.get_prev_page%}
                    {%if prev_page%}
                    <a href="{% pageurl prev_page %}" rel="prev">
                    
                        <span>Пердыдущий пост</span>  
                        {{prev_page.title}}
                    </a></br>
                    {% image prev_page.image fill-150x100-c50 as fimage %}
                    <img src="{{ fimage.url }}" alt="">
                    {%else%}
                        <span>Пердыдущий пост</span> 
                        
                    {%endif%}
                {%endwith%}
                </div>
                <div class="col-six s-content__next">
                {%with next_page=page.get_next_page%}
                    {%if next_page%}
                    <a href="{% pageurl next_page %}" rel="next">
                        
                        <span>Следующий пост</span>  
                    
                        {{next_page.title}}
                    </a></br>
                    {% image next_page.image fill-150x100-c50 as fimage %}
                    <img src="{{ fimage.url }}" alt="">                    
                    {%else%}
                        <span>Следующий пост</span>

                    {%endif%}                    
                {%endwith%}
                </div>
            </div>
        </div> <!-- end s-content__pagenav -->
        <div style="text-align:center">
            <button id="like" style="color:blue"><img src="{% static 'img/icons/icon-heart.svg' %}"/>
                    Likes <text id="likes_count" style="color:red; font-size:1em">{{page.likes}}</text> </button>
        </div>

        {% block extra_js %}
            <script type="text/javascript">
            $(document).ready(function(){
                $("#like").on("click",
                            function(){
                                 $.ajax({
                                    type:"GET",
                                    url:"{% pageurl page %}",
                                    data:{"id_page":  {{page.id}} },
                                    success:function(data){
                                            //text = $("#likes")
                                            $("#likes_count").text(data.likes_count)
                                            //alert(data.likes) 
                                    },  
                                    dataType:"json",
                                });
                            }
                        )                                            
            });
            </script>
        {% endblock extra_js %}        
        
{% endblock%}