{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-theblogpage{% endblock %}

{% block content %}
<div id="page" class="container">
    	<div class="title">
		<h2>{{ page.title }}</h2>
		<p class="meta">{{ page.date }}</p><!--???-->
    	</div>
        
    {% with categories=page.categories.all%}
        {%if categories%}
            
            <div style="width:200px; heigth:200px">
            <ul>
                {%for category in categories%}
                
                <li style="display:inline-block">
                    <h4>Категория:</h4>
                    {% image category.icon fill-50x50 style="vertical-align: middle"%}
                    {{category.name}}
                </li>                
                {%endfor%}
            </ul>
            </div>
            {%else%}
                <p>It is doesn't belong to some categories</p>
        {%endif%}
    {%endwith%} 
    
    <div class="intro">{{ page.intro  | safe }}</div>
    
    <div id="content">
    {%for el in page.body%}      
            {{el}}
    {%endfor%}
        <div id="image-list">
            {% for img in page.gallery_images.all %}
                <div id="image">
                {% image img.image fill-320x240 %}
                <p>{{img.caption}}</p>
                </div>                
            {%endfor%}
        </div>
    </div>
       	
</div>
{% endblock %}
