{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}

<div id="page" class="container">
	<div class="title">
		<h2>Maecenas luctus lectus</h2>	
	</div>

	<div class="boxA">
	{% if appages %}
        {% for blog in appages %}	
		<div class="box">
    		{% image blog.get_first_image fill-1200x1200-c50 as image %}
			<img src="{{ image.url }}" width="320" height="180" alt="" />
			<h4>{{ blog.subtitle }}</h4>
			<p>{{ blog.intro|safe }}</p>
			<a href="{% pageurl blog %}" class="button">Read More</a>
		</div>
	</div>
        {%endfor%}
    {%else%}
       <div class="col-md-12">
           <p>Oh, snap. Looks like we were too busy baking to write any blog posts. Sorry.</p>
       </div>
    {%endif%}	
</div>

        
    
{% endblock content %}
