{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-theblogpage{% endblock %}

{% block content %}
<div id="page" class="container">
    	<div class="title">
		<h2>{{ page.title }}</h2>
		<p class="meta">{{ page.date_published }}</p><!--???-->
    	</div>
        
    {% with categories=page.categories.all%}
        {%if categories%}
            
            <div>
                {%for category in categories%}
                    {% image category.icon fill-50x50 style=""%}
                    <h4 style="float:left;"> Категория: {{category.name}}</h4>
                {%endfor%}
            </div>
            {%else%}
                <p>It doesn't belong to some categories</p>
        {%endif%}
    {%endwith%} 
    
    <div class="intro">{{ page.intro  | safe }}</div>
    
    <div id="content">

    {%for block in page.body%}
               {{block}}
    {%endfor%}

        <div id="image-list">
            {% for img in page.gallery_images.all %}
                <div id="image">
                {% image img.image fill-240x200 %}
                <p>{{img.caption}}</p>
                </div>                
            {%endfor%}
        </div>
    </div>
       	
</div>
{% endblock %}
