{% extends "base.html" %}
{% load static i18n wagtailcore_tags navigation_tags wagtailimages_tags %}
        
        {% block extra_css %}
        <style>

        </style>
        {% endblock %}
{% block content %}
<section class="s-content">
<div id="gallery" class="container">
<wrapper>
<div id="dws-slider" class="carousel slide" data-ride="carousel">
<h3 class="g-header">Галерея</h3>

        <!--Показатели-->
        <ol class="carousel-indicators">
            <li data-target="#dws-slider" data-slide-to="0" class="active"></li>
            <li data-target="#dws-slider" data-slide-to="1"></li>
            <li data-target="#dws-slider" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
            {% for imgdata in page.images%}
            {%if forloop.first%}
            <div class="item active">
                {{imgdata}}
            </div>
            {%else%}
            <div class="item">
                {{imgdata}}
            </div>            
            {%endif%}
            
            {% endfor %}
        </div>
            
        <!--Элементы управления-->
        <a class="left carousel-control" href="#dws-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#dws-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
 </div>       
 </wrapper>
</selection>
{%endblock%}

{% block extra_js %}
<script>
    $('.carousel').carousel({
        interval: 7000
    })
</script>              
{% endblock %}