{% load navigation_tags %}

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Porphyrio</a></h1>
		</div>		
		<div id="menu">
        	{% block main_navigation %}
        		<ul>
                            {# main_menu is defined in ./templatetags/navigation_tags.py #}                     
                            {% get_site_root as site_root %}
                            {% top_menu parent=site_root calling_page=self %}                
                </ul>
            {% endblock %}                
		</div>
	
	</div>
	<div id="bheader" class="container">
        {% block breadcrumbs %}
            {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
            {% breadcrumbs %}
        {% endblock breadcrumbs %}	
    </div>
</div>
