{% load navigation_tags wagtailimages_tags static %}

    
    <!-- header ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="index.html">
            {%if banner%}
                {% image banner.image max-200x200 as fimage %}
                <img src="{{fimage.url}}" alt="Homepage">
            {%else%}
                <img src="{% static 'img/icons/icon-heart.svg' %}" alt="Homepage">
            {%endif%}
            </a>
        </div> <!-- end header__logo -->

        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">

            <form role="search" method="get" class="header__search-form" action="{% url 'search' %}" >
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="query" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
            <!-- -->            
            <form id="form-date-select" name="form-date-select"  role="search" action="/app-index-page"><!-- class="form-inline navbar-form"-->
                    <input type="text" name="date-nav" id="date-nav" class="form-control" style="width:7em" placeholder="Date">
                    <!--<button id="button-date-select" type="submit" >Выбрать</button><!-- class="btn btn-primary navbar-btn" -->
            </form> 
        </div>  <!-- end header__search -->

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        {% block main_navigation %}        
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>
            
            <ul class="header__nav">
                <li class="current"><a href="/" title="">Главная</a></li>
                            {# main_menu is defined in ..templatetags/navigation_tags.py #}
                            {% get_site_root as site_root %}
                            {% top_menu parent=site_root calling_page=self %}  
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->
        {% endblock main_navigation %}
       
    </header> <!-- s-header -->
 