{% load navigation_tags %}
{%if subpages.has_previous or  subpages.has_next%}
<nav class="pgn" data-aos="fade-up">
    <ul>
        {% if subpages.has_previous %}
            <li>
                <a class="pgn__prev" href="?page={{ subpages.previous_page_number }}"></a>
            </li>
            {% else %}
            <li>
                <a  class="page-link disabled"></a>
            </li>
        {% endif %}

        {% for i in subpages.paginator.page_range %}
            {% if subpages.number == i %}
              <li><span class="pgn__num current">{{ i }}</span></li>
            {% else %}
              <li><a href="?page={{ query_string|urlencode }}&amp;page={{ i }}" class="pgn__num">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

        {% if subpages.has_next %}
            <li>
                <a class="pgn__next" href="?page={{ subpages.next_page_number }}"></a>
            </li>
            {% else %}
            <li>
                <a class="page-link disabled"></a>
            </li>
        {% endif %}
    </ul>
</nav>
{%else%}
{%endif%}