	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		#background: #000 url(../img/img01.jpg) no-repeat center center;
		background:black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #96063b;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}
	
	.image-category{
	
    	float: right;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		background: #96063b;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 420 px; /*320*/
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}


/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		height: 30em;
	}

	#header
	{
		position: relative;
		margin-top: 3em;
		padding: 3em 0em;
		background: #96063b;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1.5em;
		left: 2em;
	}
	
	#logo h1
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2.4em;
		right: 2em;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		text-decoration: none;
		padding: 1em 1.5em;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		text-decoration: underline;
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Tagged list                                                                       */
/*********************************************************************************/

	#tagged
	{
		overflow: hidden;
		width: 1000px;
		margin-top: 3em;
		padding: 2em 100px 2em 100px;
		background: black;		
		text-align:center;
	}

	
	#tagged h2
	{
		padding-bottom: 1em;
		font-size: 1.8em;
		font-weight: 400;
		color: white;
	}

	.tag-container
	{
		overflow: hidden;
		margin: 0em auto;
		width: auto;
		display: inline-block;		
	}
	
	.tag-button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em; 
		background: deepSkyBlue;/*#96063b*/
		letter-spacing: 0.20em;
		/*text-decoration: none;*/
		/*text-transform: uppercase;*/
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}		

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		width: 1000px;
		padding: 7em 100px 3em 100px;
		background: #FFF;
	}

	#page .boxA,
	#page .boxB,
	#page .boxC
	{
	}
	
	#page .boxA
	{
    	width:inherit;
	}
	
	#page .box
	{
		margin-bottom: 4em;
        display: inline-block; /* Строчно-блочный элемент */
        padding: 5px;
	}
	
	#page img
	{
		margin-bottom: 2em;
	}
	
	#page h2
	{
		padding-bottom: 1.5em;
		font-size: 2.2em;
		font-weight: 600;
	}
	
	#page h3
	{
		padding-bottom: 1em;
		font-size: 1.8em;
		font-weight: 400;
	}
	
	#page .link
	{
		display: block;
		padding-top: 1em;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		color: rgba(0,0,0,0.8);
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	    width: 100%;
        margin: 0;
        float: none;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em 3em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* breadcrumb Header                                                             */
/*********************************************************************************/

    .breadcrumb-container {
      background: linear-gradient(to right, rgba(21,38,44,0.8) 0%,rgba(0,0,0,0.9) 100%);
      margin-top: -1px;
      position: relative;
      z-index: 3;
    }
    .breadcrumb {
      background-color: transparent;
      color: #ccc;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      margin-bottom: 0px;
      padding-left: 0px;
    }
    .breadcrumb a, .breadcrumb .active {
      color: #ccc;
    }
    .breadcrumb .active {
      font-weight: bold;
    }
    .breadcrumb a:hover {
      color: #fff;
      text-decoration: none;
    }
    .breadcrumb>li+li:before {
      content: "\00BB";
    }

    .bcontainer {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 768px) {
      .bcontainer {
        max-width: 1400px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .bcontainer-narrow > hr {
      margin: 30px 0;
    }

	#bheader
	{
		position: relative;
		margin-top: 0em;
		padding: 0em 0em;
		# background: #000000b;
	}

    .col-lg-12{width:100%}
    .hidden{display:none!important}

/*tag container*/
	/*.wraptag-container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
		color:black;		
	}*/

/*********************************************************************************/
/* pagination                                                                    */
/*********************************************************************************/
	.pag-container{
	    /*margin-left: auto;
	    margin-right: auto;
	    display: block;
	    left: 50%;
	    #width: 6em*/
		position: relative;
		top: 0;
		bottom: 0;
		left: 0%; 
		right: 0;
		margin: auto;    
}

/*********************************************************************************/
/* image									                                     */
/*********************************************************************************/

	#image-list{
	 
	}
	
	#image{
    	float:left;
    	margin:10px;
        /*width: 250px; /* Ширина */
        /*height: 250px; /* Ширина */    	
    	
	}

   figure {
    /*background: gray; /* Цвет фона */
    padding: 0px; /* Поля вокруг */
    /*display: block; /* Блочный элемент */
    width: 300px; /* Ширина */
    height: 300px; /* Ширина */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 10px 30px 10px 0px; /* Отступы */
    /*margin-right:20px;*/
    text-align: left; /* Выравнивание по центру */
   }
   figcaption {
    color: #fff; /* Цвет текста */
   }

	#banner
	{
		position: relative;
		margin-top: 0em;
		padding: 0em 0em;
		# background: #000000b;
	}
/*********************************************************************************/
/* text								                                             */
/*********************************************************************************/

    .rich-text p{
        text-align: left;
        color: gray;
        font-size: 14pt; 
    }


    #category{
            font-size: 10pt; 
    }

/*********************************************************************************/
/* home shown pages							                                         */
/*********************************************************************************/
	#hpage
	{
		overflow: hidden;
		width: 1400px;
		padding: 7em 100px 3em 100px;
		background: black;
	}

	.hcontainer
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1800px;
	}
	
	
.thumbnails
{
/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
margin: -0em 0 0 -2em;

/* Выравнивание по центру */
text-align: center;
}

.thumbnail
{
/* Убираем подчеркивание у элемента ins,
который был использован для совместимости со старыми версиями Internet Explorer */
text-decoration: none;

/* Следующее правило для Firefox 2 */
display: -moz-inline-box;

/* а это для остальных */
display: inline-block;

vertical-align: top;

/* Убираем выравнивание по центру */
text-align: center;

/* Отступы между блоками */
margin: 2em 0 0 2em;
}

.thumbnail .r
{
/* Если есть необходимость, то свойства padding, border, background и position со значением relative
лучше задавать у этого элемента -- это несколько расширит количество поддерживаемых версий браузеров */

/* Задаем минимальную ширину по тексту */
#width: 14em;

/* Минимальная ширина в пикселях будет автоматически рассчитываться по ширине картинки */
float: left;
}





